<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="accountDao" class="com.lagou.edu.dao.impl.JdbcAccountDaoImpl">
        <property name="ConnectionUtils" ref="connection"></property>
    </bean>
    <bean id="transferService" class="com.lagou.edu.service.impl.TransferServiceImpl">
        <property name="AccountDao" ref="accountDao"></property>
    </bean>

    <bean id="connection" class="com.lagou.edu.utils.ConnectionUtils"></bean>

    <bean id="transactionManager" class="com.lagou.edu.utils.TransactionManager">
        <property name="ConnectionUtils" ref="connection"></property>
    </bean>

    <bean id="transactionProxyFactory" class="com.lagou.edu.factory.TransactionProxyFactory">
        <property name="transactionManager" ref="transactionManager"></property>
    </bean>

</beans>