<mapper namespace="com.lagou.dao.IUserDao">
    <select id="findAll" resultType="com.lagou.pojo.User">
        select * from user
    </select>

    <select id="findByCondition" resultType="com.lagou.pojo.User" parameterType="com.lagou.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>

    <update id="editUsernameById" resultType="java.lang.Integer" parameterType="com.lagou.pojo.User">
        UPDATE user a set a.username = #{username} where a.id = #{id}
    </update>
</mapper>